<input type="text" placeholder="Digite o seu nome...">
<input type="text" placeholder="Digite o seu e-mail...">
<input type="text" placeholder="Digite o seu telefone...">
<select class="selectpicker" data-style="btn-info">
  <option >Fundamental</option>
  <option >Medio</option>
  <option >Superior</option>
</select>
<div class="container">
  <div class="row">
      <div class="col-md-12"><div class="well">
      
          <form class="form-horizontal"><fieldset>
              <div class="form-group">
                    <label class="col-md-2 control-label" for="gender">Gender</label>
                    <div class="col-md-10">
                       <div class="input-group">
                          <div class="btn-group radio-group">
                             <label class="btn btn-primary not-active">Male <input type="radio" value="male" name="gender"></label>
                             <label class="btn btn-primary not-active">Female <input type="radio" value="female" name="gender"></label>
                          </div>
                       </div>
                  </div>
              </div>
          </fieldset></form>
  
      </div></div>
  </div>

