<div class="conteiner-fluid">
<form>
    <div class="form-group">
        <input class="form-control" style="margin-top:50px" type="text" placeholder="Digite o seu nome..." id="cadNome" [(ngModel)]="pessoa.nome" [ngModelOptions]="{standalone: true}">
        <input class="form-control" type="text" style="margin-top:15px" placeholder="Digite o seu e-mail..." id="cadEmail" [(ngModel)]="pessoa.email" [ngModelOptions]="{standalone: true}">
        <input class="form-control" type="text" style="margin-top:15px" placeholder="Digite o seu telefone..." id="cadTelefone" [(ngModel)]="pessoa.telefone" [ngModelOptions]="{standalone: true}">

        
    </div>
</form>


<form class="form-horizontal" >
    <fieldset>
        <div class="form-group" >
            <label class="col-md-1 control-label" for="gender">Sexo</label>
            <div class="col-md-10">
                <div class="input-group" >
                    <div class="btn-group radio-group" id="cadSexo"  >
                        <label class="btn btn-primary not-active">Masculino
                            <input type="radio" value="Masculino" name="gender" [(ngModel)]="pessoa.Sexo" [ngModelOptions]="{standalone: true}">
                        </label>
                        <label class="btn btn-primary not-active" >Feminino
                            <input type="radio" value="Feminino" name="gender" [(ngModel)]="pessoa.Sexo" [ngModelOptions]="{standalone: true}">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<button type="button" class="btn btn-success" (click)='cadastrar()'>Cadastrar</button>
</div>